<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.lawaken.iap2</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>APP需要您的同意，才能使用麦克风，以便于视频录制、语音识别、语音聊天</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>APP需要您的允许，才能连接蓝牙设备</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>APP需要您的允许，才能始终使用蓝牙</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>location</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
		<string>external-accessory</string>
	</array>
</dict>
</plist>
